html {
	background-color: #333;
}

strong {
	color: #690;
}

caption, legend {
	color: #000;
}

abbr, acronym {
	border-bottom-color: #ccc;
}

code {
	background-color: #ccc;
}

#document {
	background-color: transparent;
	border-color: transparent;
}

#logo {
	color: #fff;
}

#logo a {
	color: #fff;
}

#logo a em {
	color: #cf3;
}

#content {
	color: #333;
	background-color: #fff;
}

#content h2 {
	border-bottom-color: #ccc;
	color: #690;
}

#content h3 {
	color: #000;
}

#content a {
	color: #690;
}

#content a:hover {
	color: #000;
}

#meta_navigation {
	background-color: #690;
}

#meta_navigation .menu-item a {
	color: #fff;
}

#meta_navigation .menu-item a:hover {
	color: #000;
}

#meta_navigation .nested-menu .menu-item a {
	color: #000;
}

#meta_navigation .nested-menu .menu-item a:hover {
	color: #fff;
}

#copyright {
	color: #fff;
}

#copyright a {
	color: #cf3;
}

.albums .album .preview_image img,
.images .image img {
	background-color: #666;
	border-color: #666;
}

#overlay {
	background-color: #000;
}

#container {
	color: #fff;
}

.controls .control {
	border-color: #ccc;
}