strong {
	color: #690;
}

em {
	color: #666;
}

caption, legend {
	color: #000;
}

abbr, acronym {
	border-bottom-color: #ccc;
}

code {
	background-color: #ccc;
}

#logo a {
	color: #000;
}

#logo a em {
	color: #6c0;
}

#body {
	background-color: #f6faf6;
}

#content h2 {
	color: #666;
}

#content h3 {
	color: #390;
}

#content a {
	color: #390;
}

#menu .menu-item a {
	color: #390;
}

#menu .nested-menu .menu-item a {
	color: #000;
}

#copyright {
	color: #000;
}

#copyright a {
	color: #390;
}

.albums .album .preview-image img {
	background-color: #ccc;
	border-color: #ccc;
}

.images .image img {
	background-color: #ccc;
	border-color: #ccc;
}

#slideshow img {
	background-color: #ccc;
	border-color: #ccc;
}