@import 'screen.css';

#logo, #body, #copyright {
	width: auto;
}

#logo {
	padding: 0 20px;
}

#body {
	padding: 20px;
}

#gallery .albums .album {
	margin: 0 20px 20px 0;
}

#slideshow .current .image, #slideshow .controls .previous, #slideshow .controls .next {
	margin-top: 0;
}

#slideshow .controls .close {
	height: 60px;
	width: 60px;
}

#slideshow .controls .close a {
	height: 60px;
	width: 60px;
}

#copyright {
	padding: 10px 20px;
}