html, body {
	height: 100%;
}

html {
	background-color: #dfffdc;
}

#document {
	margin: 0;
	position: relative;
	width: auto;
}

body > #document {
	height: auto;
	min-height: 100%;
}

a {
	text-decoration: none;
}

#logo, #content, #copyright {
	margin: 0 auto;
	width: 900px;
}

#head {
	background-color: #fff;
}

#logo {
	padding: 0 30px;
}

#logo a {
	background-image: url('../img/logo.png');
	background-position: center left;
	background-repeat: no-repeat;
	color: #000;
	display: block;
	font-size: 265%;
	font-weight: bold;
	line-height: 1;
	padding: 10px 0;
	text-indent: -999px;
}

#logo em {
	color: #6c0;
	font-weight: bold;
}

#content {
	padding: 30px 30px 80px;
}

#content a {
	color: #390;
}

#content h2 {
	color: #360;
	font-size: 200%;
	font-weight: bold;
	margin: 0 0 20px;
}

#content h2 .path-part {
	margin-right: 1em;
}

#content h2 .last {
	margin-right: 0;
}

#content h2 .path-part:after {
	content: '/';
	margin-left: 1em;
}

#content h2 .last:after {
	content: none;
	margin-left: 0;
}

#content h3 {
	background-color: #e9ffe6;
	color: #390;
	line-height: 1;
	opacity: 0.75;
	position: absolute;
	width: 280px;
}

#content h3 a {
	display: block;
	font-size: 150%;
	padding: 10px;
}

.albums .album {
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

.albums .last-in-row {
	margin-right: 0;
}

.albums .album .preview-image img {
	background-color: #ccc;
	height: 280px;
	width: 280px;
}

#gallery {
	clear: both;
}

#gallery .page-link {
	display: block;
	font-size: 150%;
	float: left;
	height: 77px;
	line-height: 77px;
	width: 34px;
}

#gallery .next {
	text-align: right;
}

#gallery .previous {
	text-align: left;
}

.images {
	float: left;
}

.images .image {
	float: left;
	margin-right: 9px;
}

.images .last-in-row {
	margin-right: 0;
}

.images .image a {
	display: block;
	float: left;
	height: 77px;
}

.images .image img {
	height: 75px;
	width: 75px;
}

.images .image img {
	background-color: #ccc;
}

.albums:after, .images:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

#slideshow {
	clear: both;
	height: 500px;
	padding: 20px 0 0;
	position: relative;
	text-align: center;
}

#slideshow img {
	background-color: #ccc;
}

#slideshow .current {
	left: 0;
	position: absolute;
	width: 100%;
}

#slideshow .current a {
	display: block;
	height: 502px;
	text-align: center;
}

#foot {
	background-color: #fff;
	clear: both;
	height: 34px;
	margin: -34px auto 0;
	position: relative;
}

#copyright {
	color: #000;
	float: none;
	padding: 10px 30px;
}

#copyright a {
	color: #390;
}