* {
	margin: 0;
	padding: 0;
}

html {
	background-color: rgb(92, 56, 104);
	min-height: 100%;
	position: relative;
}

body {
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 14px;
	line-height: 1;
	margin: 0 0 34px;
}

a {
	outline-style: none;
	text-decoration: none;
}

h1, h2, h3 {
	font-size: 100%;
	font-weight: normal;
}

img {
	border: 0 none;
}

li {
	list-style: none;
}

#logo, #body, #copyright {
	margin: 0 auto;
	width: 900px;
}

#header {
	background-color: rgb(255, 255, 255);
}

#logo {
	padding: 0 30px;
}

#logo a {
	background-image: url(../img/logo.png);
	background-position: center left;
	background-repeat: no-repeat;
	color: transparent;
	display: block;
	font-size: 265%;
	font-weight: bold;
	line-height: 1;
	padding: 10px 0;
}

#body {
	padding: 30px;
}

#body a {
	color: rgb(227, 227, 227);
}

#body h2 {
	color: rgb(227, 227, 227);
	font-size: 180%;
	font-weight: bold;
	margin: 0 0 20px;
}

#body h2 .path-part {
	margin-right: 0.5em;
}

#body h2 .last {
	margin-right: 0;
}

#body h2 .path-part:after {
	content: '/';
	margin-left: 0.5em;
}

#body h2 .last:after {
	content: none;
	margin-left: 0;
}

#body h3 {
	background-color: rgba(255, 255, 255, 0.75);
	color: rgb(0, 127, 0);
	line-height: 1;
	position: absolute;
	width: 280px;
}

#body h3 a {
	color: rgb(96, 96, 96);
	display: block;
	font-size: 150%;
	padding: 10px;
}

#body p {
	line-height: 1.5;
	padding-bottom: 10px;
	color: rgb(196, 196, 196);
}

#body p a {
	color: rgb(255, 255, 255);
}

#gallery .albums .album {
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
}

#gallery .albums .album .preview-image img {
	background-color: rgb(196, 196, 196);
	height: 280px;
	width: 280px;
}

#gallery .images .image {
	float: left;
	margin: 0;
}

#gallery .images .image a {
	display: block;
}

#gallery .images .image, #gallery .images .image a, #gallery .images .image img {
	height: 180px;
	width: 180px;
}

#gallery .images .image img {
	background-color: rgb(196, 196, 196);
}

#gallery .albums:after, #gallery .images:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

#slideshow {
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

#slideshow .current .image, #slideshow .controls .previous, #slideshow .controls .next {
	height: 500px;
	margin: 57px 0 0;
}

#slideshow .current .image, #slideshow .current .caption {
	text-align: center;
}

#slideshow .current .caption {
	color: rgb(204, 204, 204);
	padding: 20px 0 0;
}

#slideshow .controls {
	position: relative;
}

#slideshow .controls .control {
	position: absolute;
}

#slideshow .controls .previous, #slideshow .controls .next {
	top: 0;
	width: 50%;
}

#slideshow .controls .previous {
	left: 0;
}

#slideshow .controls .next {
	right: 0;
}

#slideshow .controls .close {
	height: 40px;
	right: 0;
	top: 0;
	width: 40px;
}

#slideshow .controls .control a {
	color: transparent;
	display: block;
}

#slideshow .controls .previous a, #slideshow .controls .next a {
	height: 500px;
	width: auto;
}

#slideshow .controls .previous a {
	background-image: url(../img/previous.png);
	background-position: 25% center;
	background-repeat: no-repeat;
}

#slideshow .controls .next a {
	background-image: url(../img/next.png);
	background-position: 75% center;
	background-repeat: no-repeat;
}

#slideshow .controls .close a {
	background-image: url(../img/close.png);
	background-position: 50% center;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
}

#footer {
	background-color: rgb(255, 255, 255);
	bottom: 0;
	height: 34px;
	position: absolute;
	width: 100%;
}

#copyright {
	color: rgb(0, 0, 0);
	padding: 10px 30px;
}

#copyright a {
	color: rgb(0, 127, 0);
}