ErrorDocument 403 index.php
ErrorDocument 404 index.php
ErrorDocument 500 index.php

RewriteEngine on

RedirectMatch permanent ^/imgphp/(.*)$ /imgproc/$1
RedirectMatch permanent ^/files/fb_portfolio/(.*)$ http://filippo.notmybiz.com/$1
RedirectMatch permanent ^/hosted/fb_portfolio/(.*)$ http://filippo.notmybiz.com/$1

RewriteCond %{ENV:REDIRECT_STATUS} !^$
RewriteRule ^ - [L]

RewriteRule ^imgproc/(.+)/$ /image.php?src=$1 [QSA,L,NS]

RewriteRule ^$ index.php [L,QSA]

RewriteCond $1 !^robots\.txt
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico

RewriteRule ^([\w/-]+)$ index.php?query=Gallery_show_$1 [L,QSA]