body {
	letter-spacing: 1px;
}

a {
	text-decoration: none;
}

#document {
	/*border: 1px solid;*/
	margin: 2em auto;
	text-align: left;
	width: 73.076em;
}

#document.full-width {
	width: auto;
}

#head {
	/*border-bottom: 6px solid;*/
	/*border-bottom: 1px solid;*/
}

#logo {
	font-size: 250%;
	font-weight: bold;
	letter-spacing: 0.15em;
	line-height: 0.45;
	text-transform: lowercase;
}

#logo a {
	display: block;
	padding: 0.65em 0 0.75em 0.75em;
}

#logo em {
	font-weight: bold;
}

#body {
	clear: both;
}

#content {
	padding: 2em 2em 0;
	text-align: justify;
}

#content h2 {
	font-weight: bold;
	margin: 0 0 1.5em;
}

#content h2 .path-part {
	margin-right: 1em;
}

#content h2 .last {
	margin-right: 0;
}

#content h2 .path-part:after {
	content: '/';
	margin-left: 1em;
}

#content h2 .last:after {
	content: none;
	margin-left: 0;
}

#content h3 {
	line-height: 1;
	margin: 0 0 1em;
}

#content a {
	text-align: left;
}

#content img.float-left {
	margin: 1em 1em 0 0;
}

#content img.float-right {
	margin: 1em 0 0 1em;
}

#foot {
	/*border-top: 1px solid;*/
	clear: both;
	margin-top: 2em;
}

#copyright {
	float: left;
	padding: 1em 0 1em 2em;
}

#meta_navigation .menu-item {
	float: right;
	padding: 1em 2em 1em 0;
}

#meta_navigation .nested-menu .menu-item {
	float: none;
}

#meta_navigation:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

table.full-width {
	width: 100%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.albums .album,
.images .image {
	float: left;
	margin: 0 2em 2em 0;
}

.albums .last-in-row,
.images .last-in-row {
	margin-right: 0;
}

.albums .album .preview_image img,
.images .image img {
	border: 1px solid;
}

.albums .album .preview_image img {
	height: 279px;
	width: 279px;
}

.images .image img {
	height: 202.5px;
	width: 202.5px;
}

.albums:after,
.images:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

.pagination {
	clear: both;
	padding-bottom: 2em;
	text-align: center;
}

.pagination .page {
	border: 1px solid;
	display: inline-block;
	margin: 0 0.23em;
	padding: 0 0.25em;
	text-align: center !important;
	text-decoration: none;
	width: 1em;
}

.all_link {
	clear: both;
}

#container {
	height: auto;
	margin: 1em auto;
	text-align: center;
	width: 61.538em;
}

#current_image,
.images .image {
	cursor: pointer;
}

.controls {
	margin: auto;
	text-align: center;
}

.controls .control {
	border: 1px solid;
	display: inline-block;
	margin: 0 0.23em;
	padding: 0 0.25em;
	text-decoration: none;
	width: 1em;
}